/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  padding: 60px 20px;
  max-width: 1440px;
  width: 100%;
}

.guitar {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 40px;
}

.guitar__head {
  width: 200px;
  height: 300px;
  background-color: blueviolet;
}

.guitar__fret {
  position: relative;
  flex: 1;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guitar__fret:nth-child(2n+3):after {
  content: "";
  position: absolute;
  background-color: silver;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.guitar__key {
  position: relative;
  width: 120px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid darkslategray;
  background-color: grey;
  transition: 0.15s;
}
.guitar__key::after {
  position: absolute;
  z-index: 0;
  content: "";
  height: 5px;
  left: -2px;
  right: -2px;
  background-color: darkgoldenrod;
}

.guitar__key_active {
  background-color: #452a20;
}
.guitar__key_active:hover {
  background-color: #8d6b28;
}
.guitar__key_active:hover::after {
  background-color: coral;
}

.guitar__key_pressed {
  background-color: #bec030;
}
.guitar__key_pressed::after {
  background-color: #9d3d19;
}

.guitar__label {
  position: relative;
  z-index: 1;
  pointer-events: none;
  font-size: 32px;
  color: greenyellow;
  font-weight: 500;
}

.guitar__edit {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: aliceblue;
}
.guitar__edit:hover {
  background-color: yellow;
}

.modal {
  padding: 0;
  max-width: 240px;
  width: calc(100% - 40px);
  border: none;
}
.modal::backdrop {
  background: rgba(34, 34, 34, 0.6);
}

.modal__inner {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.sequencer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  max-width: 500px;
  width: 100%;
}

.sequencer__label {
  font-size: 28px;
  font-weight: 400;
}

.sequencer__input {
  font-size: 20px;
}

.sequencer__btn {
  font-size: 24px;
}

/*# sourceMappingURL=style.css.map */
