.guitar {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
  margin: 0 auto;
  max-width: 1440px;
  padding: 60px 20px;
}

.guitar__head {
  width: 200px;
  height: 300px;
  background-color: blueviolet;
}

.guitar__fret {
  flex: 1;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  border: darkblue 2px solid;
}

$key-border: 1px;
.guitar__key {
  position: relative;
  width: 150px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: $key-border solid darkslategray;
  background-color: grey;
  transition: 0.15s;

  &::after {
    position: absolute;
    z-index: 0;
    content: '';
    height: 5px;
    left: -$key-border;
    right: -$key-border;
    background-color: darkolivegreen;
  }
}

.guitar__key_active {
  background-color: antiquewhite;
  
  &:hover {
    background-color: yellowgreen;

    &::after {
      background-color: coral;
    }
  }
}

.guitar__key_pressed {
  background-color: yellow;

  &::after {
    background-color: red;
  }
}

.guitar__label {
  position: relative;
  z-index: 1;
  pointer-events: none;
  font-size: 32px;
  color: blue;
  font-weight: 500;
}

.guitar__edit {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: aliceblue;

  &:hover {
    background-color: yellow;
  }
}

.modal {
  padding: 0;
  max-width: 240px;
  width: calc(100% - 40px);
  border: none;

  &::backdrop {
    background: rgba(34, 34, 34, 0.60);
  }
}

.modal__inner {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}