.container {
  margin: 0 auto;
}

.guitar {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 40px;
  margin: 0 auto;
  max-width: 1440px;
  padding: 60px 20px;
}

.guitar__head {
  width: 200px;
  height: 300px;
  background-color: blueviolet;
}

.guitar__body {
  height: 300px;
  width: 300px;
  background-color: coral;
}

.guitar__fret {
  flex: 1;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  border: darkblue 2px solid;
}

.guitar__key {
  width: 100px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid darkslategray;
  background-color: antiquewhite;
  transition: 0.15s;

  &:hover {
    background-color: yellowgreen;

    .guitar__string {
      background-color: coral;
    }
  }
}

.guitar__string {
  height: 5px;
  background-color: darkolivegreen;
}

