.guitar {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
  margin: 0 auto;
  max-width: 1440px;
  padding: 60px 20px;
}

.guitar__head {
  width: 200px;
  height: 300px;
  background-color: blueviolet;
}

.guitar__fret {
  flex: 1;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  border: darkblue 2px solid;
}

$key-border: 1px;
.guitar__key {
  position: relative;
  width: 100px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: $key-border solid darkslategray;
  background-color: grey;
  transition: 0.15s;

  &::after {
    position: absolute;
    content: '';
    height: 5px;
    left: -$key-border;
    right: -$key-border;
    background-color: darkolivegreen;
  }
}

.guitar__key_active {
  background-color: antiquewhite;

  &:hover {
    background-color: yellowgreen;

    &::after {
      background-color: coral;
    }
  }
}