.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  padding: 60px 20px;
  max-width: 1440px;
  width: 100%;
}

.guitar {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  row-gap: 40px;
}

.guitar__head {
  color: white;
  width: 200px;
  height: 360px;
  background-color: black;
}

.guitar__fret {
  position: relative;
  flex: 1;
  max-width: 150px;
  min-width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guitar__fret:nth-child(2n + 3) {
  &:after {
    content: "";
    position: absolute;
    background-color: silver;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
}

$key-border: 1px;
.guitar__key {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: $key-border solid darkslategray;
  background-color: grey;
  transition: 0.15s;

  &::after {
    position: absolute;
    z-index: 0;
    content: '';
    height: 5px;
    left: -$key-border;
    right: -$key-border;
    background-color: darkgoldenrod;
  }
}

.guitar__key_active {
  background-color: #452a20;
  
  &:hover {
    background-color: #8d6b28;

    &::after {
      background-color: coral;
    }
  }
}

.guitar__key_pressed {
  background-color: #bec030;

  &::after {
    background-color: #9d3d19;
  }
}

.guitar__label {
  position: relative;
  z-index: 1;
  pointer-events: none;
  font-size: 32px;
  color: greenyellow;
  font-weight: 500;
}

.guitar__edit {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: aliceblue;

  &:hover {
    background-color: yellow;
  }
}

.modal {
  padding: 0;
  max-width: 240px;
  width: calc(100% - 40px);
  border: none;

  &::backdrop {
    background: rgba(34, 34, 34, 0.60);
  }
}

.modal__inner {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.sequencer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  max-width: 500px;
  width: 100%;
}

.sequencer__label {
  font-size: 28px;
  font-weight: 400;
}

.sequencer__input {
  font-size: 20px
}

.sequencer__btn {
  font-size: 24px;
}